//Text and containers
$heading: #e0ffff;
$container: #8adee28e;
// $container: #3cadb3c0;
$text-in-container:#26999f; 

//Linear-gradients in the order they are introduced.
//body
$sky-blue: #C4ECF4;
$sky-yellow: #EAECD2;
//section 1
$water1: #CEF6F6;
$water2: #9FD8CD;
//section 2
$water3: #3499A7;
//section 3
$water4: #207B98;
//section 4
$water5: #478ac8;
//section 5
$water6: #1e6b85;
//section 6
$water7: #205a98;
//section 7
$water8: #1c4f85;
//section 8
$water9: #205893;
//section 9
$water10: #1f5085;
//section 10
$water11: #265588;
//section 11
$water12: #214c79;
//section 12
$water13: #133556;

//general colors
$ocean-bottom: rgba(162, 160, 143, 0.757);