@mixin font($family-value, $size-value) {
    font-family: $family-value;
    font-size: $size-value;
  }

@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

@mixin mp($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
