* {
  @extend %reset;
}

abbr {
  text-decoration: none;
}

body {
  background: linear-gradient(85deg, $sky-blue, $sky-yellow);
  height: auto;
  overflow-x: hidden;
}

//Triangle credits: Kevin Powell's youtube video: https://www.youtube.com/watch?v=fFJH6dguuqo&t=681s

.heading {
  @include font(3rem, 700);
  text-shadow: -1px 0 $container, 0 1px $container, 1px 0 $container, 0 -1px $container;
  // inspiration for the text border is from the following stackoverflow thread: https://stackoverflow.com/questions/2570972/css-font-border
  margin-top: -15rem;
  animation: textfromleft 5s forwards ease-out;
  animation-iteration-count: 1;
}

.heading::before {
  content: '';
  position: absolute;
  top: .25em;
  left: -3.5em;
  border: .5em solid transparent;
  border-top-color: $heading;
  animation: bounce 1s infinite alternate;
}

.active.colapath {
  animation: colapath 15s forwards ease-out;
  transform: translatey(-100%) translatex(-100%);
}

.active.bottlepath {
  transform: translateX(280%) translateY(-25%);
  animation: bottlepath 20s forwards linear;
}

.active.plasticbagpath {
  animation: plasticbagpath 15s forwards ease-in-out;
  opacity: 0%;
  z-index: 2;
}

.active.movesmallturtle {
  transform: translate(-50%, 150%);
  animation: movesmallturtle 6s 1.5s forwards;
}

.jellyfish {
  opacity: 50%;
  animation: movejellyfish 5s infinite forwards;
}

.active.fishpath {
  transform: translateX(10%) translatey(-10%);
  animation: fishpath 20s forwards;
}

#fish__fin--side {
  animation: fishfinside 1s infinite alternate;
}

#sturtle__frontfoot--right,
#sturtle__backfoot--right,
#sturtle__frontfoot--left,
#sturtle__backfoot--left,
#sturtle__mouth,
#jellyfish__leg--two,
#jellyfish__leg--four,
#jellyfish__leg--six {
  @extend %transform;
}

#jellyfish__leg--two,
#jellyfish__leg--four,
#jellyfish__leg--six {
  animation: movejellyfishlegs 3s infinite alternate;
}


#sturtle__frontfoot--right,
#sturtle__backfoot--right,
#sturtle__frontfoot--left,
#sturtle__backfoot--left {
  animation: turtlefeet 2s infinite alternate linear;
}


#sturtle__mouth {
  animation: turtlemouth 1s ease-out infinite alternate;
}

section {
  min-height: 100vh;
  display: flex;
}

section:nth-child(1) {
  background: linear-gradient(180deg, $water1, $water2);
  margin-top: 30em;
  color: $heading;
}
  
section:nth-child(2) {
  background: linear-gradient(180deg, $water2, $water3);
}

section:nth-child(3) {
  background: linear-gradient(180deg, $water3, $water4);
}
  
section:nth-child(4) {
  background: linear-gradient(180deg, $water4,  $water5);
}

section:nth-child(5) {
  background: linear-gradient(180deg, $water5, $water6);
}

section:nth-child(6) {
  background: linear-gradient(180deg,  $water6, $water7);
}

section:nth-child(7) {
  background: linear-gradient(180deg, $water7, $water8);
}

section:nth-child(8) {
  background: linear-gradient(180deg, $water8,  $water9);
}

section:nth-child(9) {
  background: linear-gradient(180deg,  $water9, $water10);
}

section:nth-child(10) {
  background: linear-gradient(180deg, $water10, $water11);
}

section:nth-child(11) {
  background: linear-gradient(180deg, $water11, $water12);
}

section:nth-child(12) {
  background: linear-gradient(180deg, $water12, $water13);
}

section:nth-child(12) .ocean__bottom--yellow {
  @include wh(100vw, 100vh);
  background-color: $ocean-bottom;
  transform: translatey(1000%);
}

section .text {
  margin: 5rem;
}

.text__box {
  color: $text-in-container;
  text-align: center;
}

section .text__container {
  display: flex;
  @include mp(5rem, 2rem);
  background: $container;
  transition: transform 1s;
}

  
section .text__container:nth-child(1):hover {
  transform: scale(1.4);
}
  
section:nth-child(2) .text__box {
  @include wh(40vw, 50vh);
  position: relative;
}

.information__paragraph--fngoal {
  @include wh(40rem, 80vh);
  color: darken($text-in-container, 10%);
  transform: translateX(10%);
  position: relative;
  bottom: 100vh;
  margin: auto !important;
}

.active.fade-left-second {
  animation: fade-left-second 3s ease-in forwards;
}

.information__paragraph--conclusion {
  opacity: 90%;
  background-color: $container;
  padding: 2rem;
  @include wh(30rem, 50vh);
  transform: translatex(10%) translatey(70%);
  color: darken($text-in-container, 15%);
  @include font(1.2rem, 400);
  margin: auto;
}

.active.fade-left-third {
  animation: fade-left-third 3s ease-in forwards;
}

.citations,
.information__paragraph--fngoal,
.text__box {
  @include font(1.5rem, 400);
}

.citations {
  padding: 5%;
  width: 70%;
  margin: 0 auto;
}
  
.reveal {
  position: relative;
  opacity: 0;
}
  
.reveal.active {
  opacity: 1;
}
  
.active.fade-left {
  animation: fade-left 3s ease-in forwards;
}

.active.fiskegarnanimation { 
  animation: fiskegarnanimation 5s forwards; 
}

.active.fiskegarnfalldown {
  transform: translateX(65%) rotate(180deg);
  z-index: 1;
  opacity: 0;
  animation: fiskegarnfalldown 10s 1s forwards;
}

.active.fishstopper {
  transform: translateX(440%) translateY(185%);
  animation: fishstopper 10s 750ms forwards; 
}

#fish__tail--top, #fish__tail--bottom { 
  animation: fiskefinnerbevegelse 2s infinite alternate;
}

.svg__jellyfish--small {
  transform: translateX(800%) translateY(-40%);
}

.svg__jellyfish--small2 {
  transform: translateX(900%) translateY(70%);
}

.svg__jellyfish--small,
.svg__jellyfish--small2 {
  opacity: 90%;
}

#sjellyfish__leg--five,
#sjellyfish__leg--four,
#sjellyfish__leg--one,
#sjellyfish__leg--two,
#sjellyfish__leg--three {
  animation: movejellyfishlegs 5s alternate infinite;
}

.svg__colabox {
  transform:translateX(50%) translateY(10%);
  z-index: 1;
}

.svg__colabox-2 {
  transform:translateX(160%) translateY(10%);
}

.svg__rope {
  transform: rotate(-20deg) translateX(530%) translateY(120%);
}

.svg__rock {
  transform: translateX(450%) translateY(-40%);
}

.svg__straw {
  transform: translateX(720%) translateY(-20%) rotate(-60deg);
}

.svg__straw-2 {
  transform: translateX(1020%) translateY(-20%) rotate(50deg);
}

.svg__plasticbag--bottom {
  transform: translateX(360%) rotate(40deg) translateY(-30%);
}

.svg__bturtle--bottom {
  transform: translateX(30%) translateY(-20%) rotate(-30deg);
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion) {
  .heading,
  .active.armrotate,
  .active.colapath,
  .active.plasticbagpath,
  #jellyfish__leg--two,
  #jellyfish__leg--four,
  #jellyfish__leg--six,
  .jellyfish,
  .active.movesmallturtle,
  #sturtle__frontfoot--right,
  #sturtle__backfoot--right,
  #sturtle__frontfoot--left,
  #sturtle__backfoot--left,
  #sturtle__mouth,
  section .text__container,
  .active.fade-left,
  .heading::before,
  .svg__fish--eye,
  .svg__fiskegarn,
  .active.bottlepath,
  section .text__container:nth-child(1):hover,
  section .text__container:nth-child(2):hover,
  section .text__container:nth-child(3):hover,
  .active.fishpath,
  #sjellyfish__leg--five,
  #sjellyfish__leg--four,
  #sjellyfish__leg--one,
  #sjellyfish__leg--two,
  #sjellyfish__leg--three,
  .active.fade-left-second,
  .active.fade-left-third,
  #fish__fin--side,
  #fish__tail--top, 
  #fish__tail--bottom {
    animation: none;
    transform: scale(1);
  } 
}

@media (prefers-color-scheme: dark) {
  html {
    filter: brightness(.8);
  }
} 

@media (prefers-color-scheme: light) {
  html {
    filter: brightness(1);
  }
}

  