@charset "UTF-8";
@-webkit-keyframes textfromleft {
  from {
    -webkit-transform: translatex(-250%);
            transform: translatex(-250%);
  }
  to {
    -webkit-transform: translatex(40%);
            transform: translatex(40%);
  }
}
@keyframes textfromleft {
  from {
    -webkit-transform: translatex(-250%);
            transform: translatex(-250%);
  }
  to {
    -webkit-transform: translatex(40%);
            transform: translatex(40%);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translatey(-10%);
            transform: translatey(-10%);
  }
  to {
    -webkit-transform: translatey(60%);
            transform: translatey(60%);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translatey(-10%);
            transform: translatey(-10%);
  }
  to {
    -webkit-transform: translatey(60%);
            transform: translatey(60%);
  }
}

@-webkit-keyframes objectfromright {
  from {
    -webkit-transform: translatex(410%) translateY(60%);
            transform: translatex(410%) translateY(60%);
  }
  to {
    -webkit-transform: translatex(-100%) translateY(60%);
            transform: translatex(-100%) translateY(60%);
  }
}

@keyframes objectfromright {
  from {
    -webkit-transform: translatex(410%) translateY(60%);
            transform: translatex(410%) translateY(60%);
  }
  to {
    -webkit-transform: translatex(-100%) translateY(60%);
            transform: translatex(-100%) translateY(60%);
  }
}

@-webkit-keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 1;
  }
}

@-webkit-keyframes colapath {
  0% {
    -webkit-transform: translateY(-100%) translatex(-150%) scale(30%);
            transform: translateY(-100%) translatex(-150%) scale(30%);
  }
  25% {
    -webkit-transform: translateY(-125%) translatex(-300%) scale(50%);
            transform: translateY(-125%) translatex(-300%) scale(50%);
  }
  50% {
    -webkit-transform: translateY(-100%) translatex(-330%) scale(70%);
            transform: translateY(-100%) translatex(-330%) scale(70%);
  }
  75% {
    -webkit-transform: translateY(0%) translatex(-250%) scale(90%);
            transform: translateY(0%) translatex(-250%) scale(90%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translatex(-200%) scale(100%);
            transform: translateY(100%) translatex(-200%) scale(100%);
    opacity: 0%;
  }
}

@keyframes colapath {
  0% {
    -webkit-transform: translateY(-100%) translatex(-150%) scale(30%);
            transform: translateY(-100%) translatex(-150%) scale(30%);
  }
  25% {
    -webkit-transform: translateY(-125%) translatex(-300%) scale(50%);
            transform: translateY(-125%) translatex(-300%) scale(50%);
  }
  50% {
    -webkit-transform: translateY(-100%) translatex(-330%) scale(70%);
            transform: translateY(-100%) translatex(-330%) scale(70%);
  }
  75% {
    -webkit-transform: translateY(0%) translatex(-250%) scale(90%);
            transform: translateY(0%) translatex(-250%) scale(90%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translatex(-200%) scale(100%);
            transform: translateY(100%) translatex(-200%) scale(100%);
    opacity: 0%;
  }
}

@-webkit-keyframes plasticbagpath {
  0% {
    opacity: 0%;
    -webkit-transform: translate(-150%, 30%) rotate(180deg);
            transform: translate(-150%, 30%) rotate(180deg);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translate(-240%, 225%);
            transform: translate(-240%, 225%);
  }
  100% {
    opacity: 50%;
    -webkit-transform: translate(-245%, 225%);
            transform: translate(-245%, 225%);
  }
}

@keyframes plasticbagpath {
  0% {
    opacity: 0%;
    -webkit-transform: translate(-150%, 30%) rotate(180deg);
            transform: translate(-150%, 30%) rotate(180deg);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translate(-240%, 225%);
            transform: translate(-240%, 225%);
  }
  100% {
    opacity: 50%;
    -webkit-transform: translate(-245%, 225%);
            transform: translate(-245%, 225%);
  }
}

@-webkit-keyframes movesmallturtle {
  50% {
    -webkit-transform: translatex(0%, 100%) rotate(0deg);
            transform: translatex(0%, 100%) rotate(0deg);
  }
  50% {
    -webkit-transform: translatex(-50%, 150%) rotate(90deg);
            transform: translatex(-50%, 150%) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(-40%, 200%) rotate(180deg);
            transform: translate(-40%, 200%) rotate(180deg);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 297%) rotate(215deg);
            transform: translate(-50%, 297%) rotate(215deg);
    z-index: 1;
  }
}

@keyframes movesmallturtle {
  50% {
    -webkit-transform: translatex(0%, 100%) rotate(0deg);
            transform: translatex(0%, 100%) rotate(0deg);
  }
  50% {
    -webkit-transform: translatex(-50%, 150%) rotate(90deg);
            transform: translatex(-50%, 150%) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(-40%, 200%) rotate(180deg);
            transform: translate(-40%, 200%) rotate(180deg);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 297%) rotate(215deg);
            transform: translate(-50%, 297%) rotate(215deg);
    z-index: 1;
  }
}

@-webkit-keyframes armrotate {
  from {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(0deg);
            transform: translatey(-100%) translatex(785%) rotate(0deg);
  }
  to {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(60deg);
            transform: translatey(-100%) translatex(785%) rotate(60deg);
  }
}

@keyframes armrotate {
  from {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(0deg);
            transform: translatey(-100%) translatex(785%) rotate(0deg);
  }
  to {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(60deg);
            transform: translatey(-100%) translatex(785%) rotate(60deg);
  }
}

@-webkit-keyframes movejellyfishlegs {
  from {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
  to {
    -webkit-transform: rotatez(5deg);
            transform: rotatez(5deg);
  }
}

@keyframes movejellyfishlegs {
  from {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
  to {
    -webkit-transform: rotatez(5deg);
            transform: rotatez(5deg);
  }
}

@-webkit-keyframes movejellyfishlegsright {
  from {
    -webkit-transform: rotatez(3deg);
            transform: rotatez(3deg);
  }
  to {
    -webkit-transform: rotatez(-15deg);
            transform: rotatez(-15deg);
  }
}

@keyframes movejellyfishlegsright {
  from {
    -webkit-transform: rotatez(3deg);
            transform: rotatez(3deg);
  }
  to {
    -webkit-transform: rotatez(-15deg);
            transform: rotatez(-15deg);
  }
}

@-webkit-keyframes movejellyfishlegsrightback {
  from {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
}

@keyframes movejellyfishlegsrightback {
  from {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
}

@-webkit-keyframes movejellyfish {
  0% {
    -webkit-transform: translate(0%, 400%) scale(90%);
            transform: translate(0%, 400%) scale(90%);
  }
  50% {
    -webkit-transform: translate(-5%, 405%) scale(100%);
            transform: translate(-5%, 405%) scale(100%);
  }
  100% {
    -webkit-transform: translate(0%, 400%) scale(90%);
            transform: translate(0%, 400%) scale(90%);
  }
}

@keyframes movejellyfish {
  0% {
    -webkit-transform: translate(0%, 400%) scale(90%);
            transform: translate(0%, 400%) scale(90%);
  }
  50% {
    -webkit-transform: translate(-5%, 405%) scale(100%);
            transform: translate(-5%, 405%) scale(100%);
  }
  100% {
    -webkit-transform: translate(0%, 400%) scale(90%);
            transform: translate(0%, 400%) scale(90%);
  }
}

@-webkit-keyframes turtlefeet {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes turtlefeet {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@-webkit-keyframes turtlemouth {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes turtlemouth {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes fiskegarnanimation {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(420%) rotate(180deg);
            transform: translateY(420%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(420%) rotate(180deg);
            transform: translateY(420%) rotate(180deg);
    opacity: 0;
  }
}

@keyframes fiskegarnanimation {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(420%) rotate(180deg);
            transform: translateY(420%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateY(420%) rotate(180deg);
            transform: translateY(420%) rotate(180deg);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active.armrotate, #jellyfish__leg--two,
#jellyfish__leg--four,
#jellyfish__leg--six, #sturtle__frontfoot--right,
#sturtle__backfoot--right,
#sturtle__frontfoot--left,
#sturtle__backfoot--left, #sturtle__mouth {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

abbr {
  text-decoration: none;
}

body {
  background: linear-gradient(85deg, #C4ECF4, #EAECD2);
  height: auto;
  overflow-x: hidden;
}

.information__paragraph--introduction {
  font-family: rigid-square, sans-serif;
  font-style: normal;
  font-size: 3rem;
  font-weight: 700;
  margin-top: -15rem;
  -webkit-animation: textfromleft 5s forwards ease-out;
          animation: textfromleft 5s forwards ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.information__paragraph--introduction::before {
  content: '';
  position: absolute;
  top: .25em;
  left: -3.5em;
  border: .5em solid transparent;
  border-top-color: #e0ffff;
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}

.active.armrotate {
  -webkit-transform: translatey(-100%) translatex(785%);
          transform: translatey(-100%) translatex(785%);
  -webkit-animation: armrotate 3s forwards ease-out;
          animation: armrotate 3s forwards ease-out;
}

.active.colapath {
  -webkit-animation: colapath 15s forwards ease-out;
          animation: colapath 15s forwards ease-out;
  -webkit-transform: translatey(-100%) translatex(-100%);
          transform: translatey(-100%) translatex(-100%);
}

.active.plasticbagpath {
  -webkit-animation: plasticbagpath 15s forwards ease-in-out;
          animation: plasticbagpath 15s forwards ease-in-out;
  opacity: 0%;
  z-index: 2;
}

#jellyfish__leg--two,
#jellyfish__leg--four,
#jellyfish__leg--six {
  -webkit-animation: movejellyfishlegs 3s infinite alternate;
          animation: movejellyfishlegs 3s infinite alternate;
}

.jellyfish {
  opacity: 50%;
  -webkit-animation: movejellyfish 5s infinite forwards;
          animation: movejellyfish 5s infinite forwards;
}

.active.movesmallturtle {
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  -webkit-animation: movesmallturtle 6s 1.5s forwards;
          animation: movesmallturtle 6s 1.5s forwards;
}

#sturtle__frontfoot--right,
#sturtle__backfoot--right,
#sturtle__frontfoot--left,
#sturtle__backfoot--left {
  -webkit-animation: turtlefeet 2s infinite alternate linear;
          animation: turtlefeet 2s infinite alternate linear;
}

#sturtle__mouth {
  -webkit-animation: turtlemouth 1s ease-out infinite alternate;
          animation: turtlemouth 1s ease-out infinite alternate;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#CEF6F6), to(#9FD8CD));
  background: linear-gradient(180deg, #CEF6F6, #9FD8CD);
  margin-top: 30em;
  color: #e0ffff;
}

section:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9FD8CD), to(#3499A7));
  background: linear-gradient(180deg, #9FD8CD, #3499A7);
}

section:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#3499A7), to(#207B98));
  background: linear-gradient(180deg, #3499A7, #207B98);
}

section:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#207B98), to(#478ac8));
  background: linear-gradient(180deg, #207B98, #478ac8);
}

section:nth-child(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(#478ac8), to(#1e6b85));
  background: linear-gradient(180deg, #478ac8, #1e6b85);
}

section:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e6b85), to(#205a98));
  background: linear-gradient(180deg, #1e6b85, #205a98);
}

section:nth-child(7) {
  background: -webkit-gradient(linear, left top, left bottom, from(#205a98), to(#1c4f85));
  background: linear-gradient(180deg, #205a98, #1c4f85);
}

section:nth-child(8) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1c4f85), to(#205893));
  background: linear-gradient(180deg, #1c4f85, #205893);
}

section:nth-child(9) {
  background: -webkit-gradient(linear, left top, left bottom, from(#205893), to(#1f5085));
  background: linear-gradient(180deg, #205893, #1f5085);
}

section:nth-child(10) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f5085), to(#265588));
  background: linear-gradient(180deg, #1f5085, #265588);
}

section:nth-child(11) {
  background: -webkit-gradient(linear, left top, left bottom, from(#265588), to(#214c79));
  background: linear-gradient(180deg, #265588, #214c79);
}

section:nth-child(12) {
  background: -webkit-gradient(linear, left top, left bottom, from(#214c79), to(#133556));
  background: linear-gradient(180deg, #214c79, #133556);
}

section:nth-child(12) .ocean__bottom--yellow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(162, 160, 143, 0.757);
  -webkit-transform: translatey(1000%);
          transform: translatey(1000%);
}

section .container {
  margin: 100px;
}

.text-box {
  color: #26999f;
  font-family: rigid-square, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 35px;
  background: #8adee28e;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

section .text-container:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*
  Utkommentert kode er utkommentert fordi vi ikke
  bruker det. Disse er ikke nødvendig med mindre vi finner ut
  at vi vil ha et tekstfelt til etc. om ikke, kan de trygt slettes.
  */
section:nth-child(2) .text-box {
  width: 40vw;
  height: 50vh;
  position: relative;
}

.citations {
  padding: 5%;
  width: 50%;
  margin: 0 auto;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  -webkit-animation: fade-left 3s ease-in forwards;
          animation: fade-left 3s ease-in forwards;
}

@media (orientation: landscape) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (prefers-reduced-motion) {
  .information__paragraph--introduction,
  .active.armrotate,
  .active.colapath,
  .active.plasticbagpath,
  #jellyfish__leg--two,
  #jellyfish__leg--four,
  #jellyfish__leg--six,
  .jellyfish,
  .active.movesmallturtle,
  #sturtle__frontfoot--right,
  #sturtle__backfoot--right,
  #sturtle__frontfoot--left,
  #sturtle__backfoot--left,
  #sturtle__mouth,
  section .text-container,
  .active.fade-left,
  .information__paragraph--introduction::before .svg__fish--eye .svg__fiskegarn {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
}

@media (prefers-color-scheme: light) {
  html {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

/* kode for mathias */
.test {
  border: solid;
}

.information__paragraph--fngoal {
  -webkit-transform: translateX(550%) translateY(50%);
          transform: translateX(550%) translateY(50%);
}

/* section 1 - mathias - animasjoner */
.svg__fish--eye {
  -webkit-transform: translateX(440%) translateY(185%);
          transform: translateX(440%) translateY(185%);
  -webkit-animation: fishstopper2 6s forwards;
          animation: fishstopper2 6s forwards;
}

#fish__tail--bottom, #fish__tail--top {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

.svg__fiskegarn {
  -webkit-animation: fiskegarnanimation 10s forwards infinite;
          animation: fiskegarnanimation 10s forwards infinite;
}

@-webkit-keyframes fishstopper {
  from {
    -webkit-transform: translateX(440%) translateY(165%);
            transform: translateX(440%) translateY(165%);
  }
  to {
    -webkit-transform: translateY(200%) translateX(-30%);
            transform: translateY(200%) translateX(-30%);
  }
}

@keyframes fishstopper {
  from {
    -webkit-transform: translateX(440%) translateY(165%);
            transform: translateX(440%) translateY(165%);
  }
  to {
    -webkit-transform: translateY(200%) translateX(-30%);
            transform: translateY(200%) translateX(-30%);
  }
}

@-webkit-keyframes fishstopper2 {
  0% {
    -webkit-transform: translateX(440%) translateY(165%);
            transform: translateX(440%) translateY(165%);
  }
  50% {
    -webkit-transform: translateY(200%) translateX(-30%);
            transform: translateY(200%) translateX(-30%);
  }
  100% {
    -webkit-transform: translateY(390%) translateX(-30%);
            transform: translateY(390%) translateX(-30%);
  }
}

@keyframes fishstopper2 {
  0% {
    -webkit-transform: translateX(440%) translateY(165%);
            transform: translateX(440%) translateY(165%);
  }
  50% {
    -webkit-transform: translateY(200%) translateX(-30%);
            transform: translateY(200%) translateX(-30%);
  }
  100% {
    -webkit-transform: translateY(390%) translateX(-30%);
            transform: translateY(390%) translateX(-30%);
  }
}

@-webkit-keyframes fiskegarnfalldown {
  from {
    -webkit-transform: translateX(65%) rotate(180deg);
            transform: translateX(65%) rotate(180deg);
  }
  to {
    -webkit-transform: translateX(65%) translateY(420%) rotate(180deg);
            transform: translateX(65%) translateY(420%) rotate(180deg);
  }
}

@keyframes fiskegarnfalldown {
  from {
    -webkit-transform: translateX(65%) rotate(180deg);
            transform: translateX(65%) rotate(180deg);
  }
  to {
    -webkit-transform: translateX(65%) translateY(420%) rotate(180deg);
            transform: translateX(65%) translateY(420%) rotate(180deg);
  }
}

.svg__fiskegarn--2 {
  -webkit-transform: translateX(65%) rotate(180deg);
          transform: translateX(65%) rotate(180deg);
  -webkit-animation: fiskegarnfalldown 10s forwards;
          animation: fiskegarnfalldown 10s forwards;
  z-index: 1;
}

.information__paragraph--you {
  /* need to add text to index.html under this part! */
  -webkit-transform: translateX(600%) translateY(30%);
          transform: translateX(600%) translateY(30%);
}

.svg__fish--bottom {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.svg__fiskegarn--bottom {
  -webkit-transform: translateX(-110%) rotate(180deg);
          transform: translateX(-110%) rotate(180deg);
}

.bottom__fish--stuck {
  -webkit-animation: fishstuckbottom 5s forwards;
          animation: fishstuckbottom 5s forwards;
  /* added forwards */
}

@-webkit-keyframes fishstuckbottom {
  /* need to move the rocks and the other stuff that is located in the bottom section! */
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(85%);
            transform: translateY(85%);
  }
}

@keyframes fishstuckbottom {
  /* need to move the rocks and the other stuff that is located in the bottom section! */
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(85%);
            transform: translateY(85%);
  }
}

.svg__jellyfish--small {
  -webkit-transform: translateX(500%) translateY(320%);
          transform: translateX(500%) translateY(320%);
}

.svg__jellyfish--small2 {
  -webkit-transform: translateX(200%) translateY(320%);
          transform: translateX(200%) translateY(320%);
}

#sjellyfish__leg--five, #sjellyfish__leg--four, #sjellyfish__leg--one, #sjellyfish__leg--two, #sjellyfish__leg--three {
  -webkit-animation: movejellyfishlegs 5s alternate infinite;
          animation: movejellyfishlegs 5s alternate infinite;
}

.bubbles__bottom--one {
  -webkit-transform: translateX(-210%) translateY(50%);
          transform: translateX(-210%) translateY(50%);
}

.bubbles__bottom--two {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}

.bubbles__bottom--three {
  -webkit-transform: translateY(60%) translateX(-260%);
          transform: translateY(60%) translateX(-260%);
}

/* havbunnen delen - plasseringer */
.svg__colabox {
  -webkit-transform: translateX(80%) translateY(10%);
          transform: translateX(80%) translateY(10%);
  z-index: 1;
}

.svg__colabox-2 {
  -webkit-transform: translateX(1260%) translateY(10%);
          transform: translateX(1260%) translateY(10%);
}

.svg__rope {
  -webkit-transform: rotate(-20deg) translateX(230%);
          transform: rotate(-20deg) translateX(230%);
}

.svg__rock {
  -webkit-transform: translateX(450%) translateY(-40%);
          transform: translateX(450%) translateY(-40%);
}

.svg__straw {
  -webkit-transform: translateX(90%) translateY(-20%) rotate(-60deg);
          transform: translateX(90%) translateY(-20%) rotate(-60deg);
}

.svg__straw-2 {
  -webkit-transform: translateX(4520%) translateY(-20%) rotate(50deg);
          transform: translateX(4520%) translateY(-20%) rotate(50deg);
}

.svg__plasticbag--bottom {
  -webkit-transform: translateX(380%) rotate(40deg) translateY(-30%);
          transform: translateX(380%) rotate(40deg) translateY(-30%);
}

.svg__bturtle--bottom {
  -webkit-transform: translateX(90%) translateY(-20%) rotate(-30deg);
          transform: translateX(90%) translateY(-20%) rotate(-30deg);
}
/*# sourceMappingURL=index.css.map */