/*
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
}
*/
@-webkit-keyframes textfromleft {
  from {
    -webkit-transform: translatex(-250%);
            transform: translatex(-250%);
  }
  to {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}
@keyframes textfromleft {
  from {
    -webkit-transform: translatex(-250%);
            transform: translatex(-250%);
  }
  to {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}

@-webkit-keyframes objectfromright {
  from {
    -webkit-transform: translatex(410%) translateY(60%);
            transform: translatex(410%) translateY(60%);
  }
  to {
    -webkit-transform: translatex(-100%) translateY(60%);
            transform: translatex(-100%) translateY(60%);
  }
}

@keyframes objectfromright {
  from {
    -webkit-transform: translatex(410%) translateY(60%);
            transform: translatex(410%) translateY(60%);
  }
  to {
    -webkit-transform: translatex(-100%) translateY(60%);
            transform: translatex(-100%) translateY(60%);
  }
}

@-webkit-keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fall {
  10% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  20% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  30% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  40% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  50% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  60% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  70% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  80% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
  90% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
  100% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
}

@keyframes fall {
  10% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  20% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  30% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  40% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  50% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  60% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  70% {
    -webkit-transform: translatey(10vh);
            transform: translatey(10vh);
  }
  80% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
  90% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
  100% {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
}

@-webkit-keyframes colapath {
  0% {
    -webkit-transform: translateY(-100%) translatex(-150%) scale(30%);
            transform: translateY(-100%) translatex(-150%) scale(30%);
  }
  25% {
    -webkit-transform: translateY(-125%) translatex(-300%) scale(50%);
            transform: translateY(-125%) translatex(-300%) scale(50%);
  }
  50% {
    -webkit-transform: translateY(-100%) translatex(-330%) scale(70%);
            transform: translateY(-100%) translatex(-330%) scale(70%);
  }
  75% {
    -webkit-transform: translateY(0%) translatex(-250%) scale(90%);
            transform: translateY(0%) translatex(-250%) scale(90%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translatex(-200%) scale(100%);
            transform: translateY(100%) translatex(-200%) scale(100%);
    opacity: 0%;
  }
}

@keyframes colapath {
  0% {
    -webkit-transform: translateY(-100%) translatex(-150%) scale(30%);
            transform: translateY(-100%) translatex(-150%) scale(30%);
  }
  25% {
    -webkit-transform: translateY(-125%) translatex(-300%) scale(50%);
            transform: translateY(-125%) translatex(-300%) scale(50%);
  }
  50% {
    -webkit-transform: translateY(-100%) translatex(-330%) scale(70%);
            transform: translateY(-100%) translatex(-330%) scale(70%);
  }
  75% {
    -webkit-transform: translateY(0%) translatex(-250%) scale(90%);
            transform: translateY(0%) translatex(-250%) scale(90%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(100%) translatex(-200%) scale(100%);
            transform: translateY(100%) translatex(-200%) scale(100%);
    opacity: 0%;
  }
}

@-webkit-keyframes plasticbagpath {
  0% {
    opacity: 0%;
    -webkit-transform: translate(-30%, 10%);
            transform: translate(-30%, 10%);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}

@keyframes plasticbagpath {
  0% {
    opacity: 0%;
    -webkit-transform: translate(-30%, 10%);
            transform: translate(-30%, 10%);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}

@-webkit-keyframes armrotate {
  from {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(0deg);
            transform: translatey(-100%) translatex(785%) rotate(0deg);
  }
  to {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(60deg);
            transform: translatey(-100%) translatex(785%) rotate(60deg);
  }
}

@keyframes armrotate {
  from {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(0deg);
            transform: translatey(-100%) translatex(785%) rotate(0deg);
  }
  to {
    -webkit-transform: translatey(-100%) translatex(785%) rotate(60deg);
            transform: translatey(-100%) translatex(785%) rotate(60deg);
  }
}

@-webkit-keyframes movejellyfishlegs {
  from {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
  to {
    -webkit-transform: rotatez(5deg);
            transform: rotatez(5deg);
  }
}

@keyframes movejellyfishlegs {
  from {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
  to {
    -webkit-transform: rotatez(5deg);
            transform: rotatez(5deg);
  }
}

@-webkit-keyframes movejellyfishlegsright {
  from {
    -webkit-transform: rotatez(3deg);
            transform: rotatez(3deg);
  }
  to {
    -webkit-transform: rotatez(-15deg);
            transform: rotatez(-15deg);
  }
}

@keyframes movejellyfishlegsright {
  from {
    -webkit-transform: rotatez(3deg);
            transform: rotatez(3deg);
  }
  to {
    -webkit-transform: rotatez(-15deg);
            transform: rotatez(-15deg);
  }
}

@-webkit-keyframes movejellyfishlegsrightback {
  from {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
}

@keyframes movejellyfishlegsrightback {
  from {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  to {
    -webkit-transform: rotatez(-5deg);
            transform: rotatez(-5deg);
  }
}

@-webkit-keyframes movejellyfish {
  from {
    -webkit-transform: translateX(10%) scale(90%);
            transform: translateX(10%) scale(90%);
  }
  to {
    -webkit-transform: translate(-5%, 10%) scale(100%);
            transform: translate(-5%, 10%) scale(100%);
  }
}

@keyframes movejellyfish {
  from {
    -webkit-transform: translateX(10%) scale(90%);
            transform: translateX(10%) scale(90%);
  }
  to {
    -webkit-transform: translate(-5%, 10%) scale(100%);
            transform: translate(-5%, 10%) scale(100%);
  }
}

@-webkit-keyframes turtlefeet {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes turtlefeet {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@-webkit-keyframes turtlemouth {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes turtlemouth {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

/*
@mixin circle2 ($width,$height,$color) {
    width: $width;
    height: $height;
    background: $color;
}
*/
/*
%toolbelt {
  box-sizing: border-box;
  border-top: 1px rgba(#000, .12) solid;
  padding: 16px 0;
  width: 100%;

  &:hover { border: 2px rgba(#000, .5) solid; }
}

.action-buttons {
  @extend %toolbelt;
  color: #4285f4;
}

.reset-buttons {
  @extend %toolbelt;
  color: #cddc39;
}
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(85deg, #C4ECF4, #EAECD2);
  height: auto;
  overflow-x: hidden;
}

.information__paragraph--introduction {
  font-size: 3rem;
  margin-top: -15rem;
  -webkit-animation: textfromleft 5s forwards ease-out;
          animation: textfromleft 5s forwards ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.svg__arm--animated {
  -webkit-transform: translatey(-100%) translatex(785%);
          transform: translatey(-100%) translatex(785%);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: armrotate 3s forwards ease-out;
          animation: armrotate 3s forwards ease-out;
}

.cola__box--static {
  -webkit-animation: colapath 15s forwards ease-out;
          animation: colapath 15s forwards ease-out;
  -webkit-transform: translatey(-100%) translatex(-100%);
          transform: translatey(-100%) translatex(-100%);
}

.plasticbag--static {
  -webkit-animation: plasticbagpath 10s 14s forwards ease-in-out;
          animation: plasticbagpath 10s 14s forwards ease-in-out;
  -webkit-transform: translate(-30%, 10%);
          transform: translate(-30%, 10%);
  opacity: 0%;
}

#jellyfish__leg--two,
#jellyfish__leg--four,
#jellyfish__leg--six {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: movejellyfishlegs 3s infinite alternate;
          animation: movejellyfishlegs 3s infinite alternate;
}

.jellyfish {
  opacity: 50%;
  -webkit-animation: movejellyfish 3s infinite alternate;
          animation: movejellyfish 3s infinite alternate;
}

#sturtle__frontfoot--right,
#sturtle__backfoot--right,
#sturtle__frontfoot--left,
#sturtle__backfoot--left {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: turtlefeet 2s infinite alternate linear;
          animation: turtlefeet 2s infinite alternate linear;
}

#mouth {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: turtlemouth 5s ease-out infinite alternate;
          animation: turtlemouth 5s ease-out infinite alternate;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#CEF6F6), to(#9FD8CD));
  background: linear-gradient(180deg, #CEF6F6, #9FD8CD);
  margin-top: 30em;
  color: #e0ffff;
}

section:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9FD8CD), to(#3499A7));
  background: linear-gradient(180deg, #9FD8CD, #3499A7);
}

section:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#3499A7), to(#207B98));
  background: linear-gradient(180deg, #3499A7, #207B98);
}

section:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#207B98), to(#478ac8));
  background: linear-gradient(180deg, #207B98, #478ac8);
}

section:nth-child(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(#207B98), to(#1e6b85));
  background: linear-gradient(180deg, #207B98, #1e6b85);
}

section:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e6b85), to(#205a98));
  background: linear-gradient(180deg, #1e6b85, #205a98);
}

section:nth-child(7) {
  background: -webkit-gradient(linear, left top, left bottom, from(#205a98), to(#1c4f85));
  background: linear-gradient(180deg, #205a98, #1c4f85);
}

section:nth-child(8) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1c4f85), to(#205893));
  background: linear-gradient(180deg, #1c4f85, #205893);
}

section:nth-child(9) {
  background: -webkit-gradient(linear, left top, left bottom, from(#205893), to(#1f5085));
  background: linear-gradient(180deg, #205893, #1f5085);
}

section:nth-child(10) {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f5085), to(#265588));
  background: linear-gradient(180deg, #1f5085, #265588);
}

section:nth-child(11) {
  background: -webkit-gradient(linear, left top, left bottom, from(#265588), to(#214c79));
  background: linear-gradient(180deg, #265588, #214c79);
}

section:nth-child(12) {
  background: -webkit-gradient(linear, left top, left bottom, from(#214c79), to(#133556));
  background: linear-gradient(180deg, #214c79, #133556);
}

section:nth-child(12) .ocean__bottom--yellow {
  height: 10vh;
  background-color: rgba(162, 160, 143, 0.757);
  -webkit-transform: translatey(1000%);
          transform: translatey(1000%);
}

section .container {
  margin: 100px;
}

section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}

section h3 {
  font-size: 30px;
  margin-top: 200px;
  padding-right: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section:nth-child(1) .text-box {
  width: 40vw;
  height: 50vh;
  position: relative;
}

section:nth-child(2) .text-box {
  width: 40vw;
  height: 50vh;
  position: relative;
}

section:nth-child(3) .text-box {
  width: 70vw;
  height: 70vh;
  position: relative;
  display: none;
}

section:nth-child(4) .text-box {
  width: 20vw;
  height: 20vh;
  position: relative;
}

section:nth-child(4) {
  -webkit-transform: scale(250%);
          transform: scale(250%);
  position: absolute;
  top: 50%;
  left: 60%;
}

section:nth-child(4) {
  -webkit-transform: scale(250%);
          transform: scale(250%);
  position: absolute;
  top: 50%;
  left: 45%;
}

section:nth-child(5) {
  background-color: lightblue;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  -webkit-animation: fade-bottom 1.5s ease-in;
          animation: fade-bottom 1.5s ease-in;
}

.active.fade-left {
  -webkit-animation: fade-left 1.5s ease-in;
          animation: fade-left 1.5s ease-in;
}

.active.fade-right {
  -webkit-animation: fade-right 1.5s ease-in;
          animation: fade-right 1.5s ease-in;
}

.active.fall {
  -webkit-animation: fall 10s linear forwards;
          animation: fall 10s linear forwards;
  position: relative;
  -webkit-transform: translatey(-80%);
          transform: translatey(-80%);
}

/* kode for mathias - første av 4 sider (1/4) - work in progress */

.test { /* temp - så jeg kan se <sections> */
  border: solid;
}

.svg__fiskegarn {
  transform: rotate(120deg);
}

.big__turtle {
  transform: translateX(380%) translateY(60%);
  animation-name: objectfromright;
  animation-duration: 8s;
}

#bturtle__foot--leftback,
#bturtle__foot--leftfront {
  animation: movejellyfishlegs 3s infinite alternate;
}

#bturtle__foot--rightfront {
  animation: movejellyfishlegsright 3s infinite alternate;
}

#bturtle__foot--rightback {
  animation: movejellyfishlegsrightback 3s infinite alternate;
}

/* code for bottom page 4/4 - work in progress */

.svg__colabox {
  transform: translatex(150%) translatey(1450%);
  margin: none;
  padding: none;
}

.svg__colabox-2 {
  transform: translatex(1140%) translatey(1480%);
  margin: none;
  padding: none;
}

.svg__straw {
  transform: translatex(500%) translatey(510%) rotate(70deg);
  margin: none;
  padding: none;
}

.svg__straw-2 {
  transform: translatex(4440%) translatey(510%) rotate(-73deg);
  margin: none;
  padding: none;
}

.svg__rock {
  transform: translatex(210%) translatey(710%) rotate(10deg);
  padding: none;
  margin: none;
}

.svg__rope {
  transform: translatex(80%) translatey(320%) rotate(-10deg);
  padding: none;
  margin: none;
}

/* need to add fish and fiskegarn */


/*# sourceMappingURL=index.css.map */